html, body {
    overflow-x: hidden;
    font-family: "Montserrat";
    width: 100%;
}

p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}
a {
    color: #fed136; /* origional #fed136 */
}
a:hover, a:focus, a:active, a.active {
    color: #fec503; /* origional #fec503 */
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    text-transform: uppercase;
    /*font-weight: 700;*/
    font-weight: 500;

}
.img-centered {
    margin: 0 auto;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.bg-darkest-gray {
    background-color: #222;
}
.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136;
}
.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}
.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136;
}
.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}



.navbar-default {
    background-color: #222;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    /*color: #fed136;*/
    /*font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;*/
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #fec503;
}

/*.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #fec503;
}*/

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}
.navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #fed136;
    outline: 0;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}


/* Header section number 1 */


header {
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(../images/skydive_3.jpg);
    height: 100vh;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}


header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 0;
    /*color: hsla(39, 27%, 77%, 1.0); light*/
    /*color: hsla(45, 35%, 63%, 1.0);dark*/
    /*color: hsla(45, 35%, 75%, 1.0); /*mid range*/
}

/* End of Header section number 1 */



section {
    /*padding: 100px 0;*/
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    /*font-style: italic;*/
    font-weight: 400;
}

aside.clients img {
    margin: 50px auto;
}

footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #fed136;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}
::selection {
    text-shadow: none;
    background: #fed136;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: #fed136;
}


textarea,
input {
  color: hsla(26, 5%, 29%, 1.0);

}

.center {
  text-align: center;
}

.explanation {
  font-size: 35px;
  text-align: center;
}

.explanation-text {
  font-size: 20px;
}

.explanation-text-margin-bottom {
  font-size: 20px;
}

.whatwedo-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(../images/city.jpg);
    height: 100vh;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

.howwedoit-image {
    background: linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ), url(../images/meeting.jpg);
    height: 100vh;
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

/*.whatwedo {
  padding-bottom: 3%;
}*/

.portfolio-caption {
  background: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
    );
  margin-top: 15%;

}

.company-name {
  margin-top: 4%;
  text-align: center;
  font-family: "Montserrat";
}

.intro-text {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  padding-bottom: 0;
}

.main-button {
  margin-top: 6%;
}

.text-box {
  border: 1px solid white;
  border-radius: 25px;

  background: linear-gradient(
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.0)
  );
}




/*color: hsla(39, 27%, 77%, 1.0); light*/
/*color: hsla(45, 35%, 63%, 1.0);dark*/
/*color: hsla(45, 35%, 75%, 1.0); /*mid range*/

header .intro-text .intro-heading {
  color: hsla(45, 35%, 75%, 1.0);
  /*color: hsla(39, 27%, 77%, 1.0);*/

}

/*header .intro-text .intro-heading-small {
  color: hsla(45, 35%, 75%, 1.0);
  /*color: hsla(39, 27%, 77%, 1.0);*/


.btn-xl-custom {
  color: hsla(26, 5%, 29%, 1.0);
    /*color: hsla(45, 35%, 75%, 1.0);*/
    background-color: hsla(45, 35%, 75%, 1.0);
    border-color: hsla(45, 35%, 75%, 1.0);
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-xl-custom:hover, .btn-xl-custom:focus, .btn-xl-custom:active, .btn-xl-custom.active, .open .dropdown-toggle.btn-xl-custom {
    color: hsla(26, 5%, 29%, 1.0);
    background-color: hsla(45, 35%, 75%, 1.0);
    border-color: hsla(26, 5%, 29%, 1.0);
}
.btn-xl-custom:active, .btn-xl-custom.active, .open .dropdown-toggle.btn-xl-custom {
    background-image: none;
}
.btn-xl-custom.disabled, .btn-xl-custom[disabled], fieldset[disabled] .btn-xl-custom, .btn-xl-custom.disabled:hover, .btn-xl-custom[disabled]:hover, fieldset[disabled] .btn-xl-custom:hover, .btn-xl-custom.disabled:focus, .btn-xl-custom[disabled]:focus, fieldset[disabled] .btn-xl-custom:focus, .btn-xl-custom.disabled:active, .btn-xl-custom[disabled]:active, fieldset[disabled] .btn-xl-custom:active, .btn-xl-custom.disabled.active, .btn-xl-custom[disabled].active, fieldset[disabled] .btn-xl-custom.active {
    background-color: #fed136;
    border-color: #006AB7;
}
.btn-xl-custom .badge {
    color: #fed136;
    background-color: #fff;
}

.font-awesome {
  /*color: hsla(45, 35%, 75%, 1.0);*/
  color: hsla(26, 35%, 45%, 1.0);
}

.navbar-header {
  text-align: center;
  color: hsla(45, 35%, 75%, 1.0);
}

.navbar-brand {
  color: hsla(45, 35%, 75%, 1.0);
  /*border-color: hsla(45, 35%, 75%, 1.0);*/
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 500;
  /*border-radius: 3px;*/
  /*font-size: 18px;*/
  /*padding: 20px 40px;*/

}

section h3.section-subheading {
  line-height: 44px;
  font-size: 30px;
  font-family: "Montserrat";

}

.muted-color {
  color: hsla(26, 5%, 29%, 1.0);
}

.border {
  border: 1px solid red;
}

.bg-dark {
  background-color: #cccccc;
}

.margin-bottom {
  margin-bottom: 2%;
}

.logo {
  max-height: 60px;
  display: block;
  max-width: 100%;
  /*height: auto;*/
  /*width: auto;*/
  /*margin: 0;*/
}

/* START OF MEDIA QUERIES */

/* start of media queries for min-width:768px */

@media (min-width:768px) {
  header .intro-text {
  padding-top: 200px;
  /*padding-bottom: 200px;*/
  }

  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 130px;
  }
  header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 0;
  }

  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
  }
  .navbar-default .navbar-brand {
      /*font-size: 2em;*/
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }
  .navbar-default .navbar-nav>.active>a {
      border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
      background-color: #222;
      padding: 10px 0;
  }

  /*this makes the main company name shrink on the scroll down*/
  .navbar-default.navbar-shrink .navbar-brand {
      font-size: 1.5em;
  }

  /*this makes the subheading shrink on the scroll down*/
  .navbar-default.navbar-shrink .sub-title {
      font-size: .6em;
      line-height: 2px;

  }
}

@media (min-width:768px) {
  section {
  padding: 150px 0;
  }
}

@media (min-width:768px) {
  header .intro-text .intro-heading-small {
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      /*text-transform: uppercase;*/
      font-weight: 400;
      font-size: 50px;
      line-height: 90px;
      margin-bottom: 0;
      /*color: hsla(45, 35%, 75%, 1.0);*/
  }
}

/*==========  Mobile First Method  ==========*/
/*==========  Text Sizing  ==========*/

/* Make the top navbar thicker (always present until 768px) */
.navbar {
  height: 65px;
}

/* The left brand text/logo */
.navbar-brand {
  float: left;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 15px;
  font-size: 22px;
  line-height: 20px;
}

/* The left sub-text below the brand */
.sub-title {
  font-size: 13px;
  color: white;
}

/* Hamburger menu */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 15px;
  margin-right: 30px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Protecting what matters */
header .intro-text {
    padding-top: 230px;
    padding-bottom: 50px;
}

/* Protecting what matters */
.company-name {
  text-align: left;
  font-family: "Montserrat";
}

/* Protecting what matters */
.main-text {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 65px;
  text-transform: uppercase;
  font-family: "Montserrat";
}



/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  /* The left brand text/logo */
  .navbar-brand {
    float: left;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 22px;
    line-height: 20px;
  }
  /* The left sub-text below the brand */
  .sub-title {
    font-size: 13px;
    color: white;
  }

  /* Hamburger menu */
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

    header .intro-text {
      padding-top: 220px;
      padding-bottom: 50px;
    }

    .main-text {
      color: white;
      margin: 0;
      font-weight: 500;
      font-size: 48px;
      line-height: 80px;
      text-align: left;
      text-transform: uppercase;
      font-family: "Montserrat";
      padding-left: 15px;

    }


  .whatwedo-image {
        padding-top: 12px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .explanation-text {
      font-size: 18px;
    }
    .whatwedo-row {
      padding-top: 6%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  /* The left brand text/logo */
  .navbar-brand {
    float: left;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 22px;
    line-height: 20px;
  }

  /* The left sub-text below the brand */
  .sub-title {
    font-size: 13px;
    color: white;
  }

  /* Hamburger menu */
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  header .intro-text {
      padding-top: 220px;
      padding-bottom: 50px;
  }

  .main-text {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 68px;
    line-height: 80px;
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat";
    padding-left: 15px;
  }
  .whatwedo-row {
    padding-top: 5%;
    color: white;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  /* Make the navbar thicker when it drops down from the CBP Animated header */
  .navbar {
    height: 80px;
  }
  /* Make the right nav menu sit lower in the navbar to line up with brand */
  .navbar-nav {
    margin-top: 5px;
  }

  /* The left brand text/logo */
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 29px;
    line-height: 20px;
  }

  /* The left sub-text below the brand */
  .sub-title {
    font-size: 17px;
    color: white;
    line-height: 2;
  }

  header .intro-text {
      padding-top: 220px;
      padding-bottom: 50px;
  }

  /* Protecting what matters */
  .company-name {
    margin-top: 4%;
    text-align: left;
    font-family: "Montserrat";
  }

  /* Protecting what matters */
  .main-text {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 68px;
    line-height: 80px;
    text-transform: uppercase;
    font-family: "Montserrat";
  }

  .whatwedo-row {
    padding-top: 5%;
    color: white;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  /* Make the navbar thicker when it drops down from the CBP Animated header */
  .navbar {
    height: 80px;
  }
  /* Make the right nav menu sit lower in the navbar to line up with brand */
  .navbar-nav {
    margin-top: 5px;
  }

  /* The left brand text/logo */
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 29px;
    line-height: 20px;
  }

  /* The left sub-text below the brand */
  .sub-title {
    font-size: 17px;
    color: white;
    line-height: 2;
  }


  header .intro-text {
      padding-top: 180px;
      padding-bottom: 50px;
  }

  /* Protecting what matters*/
  .company-name {
    margin-top: 4%;
    text-align: left;
    font-family: "Montserrat";
  }

  .main-text {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 68px;
    line-height: 80px;
    text-transform: uppercase;
    font-family: "Montserrat";
  }
  .whatwedo-row {
    padding-top: 15%;
    color: white;
  }

  .col-centered {
    float: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: auto;
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  /*Make the navbar thicker when it drops down from the CBP Animated header*/
  .navbar {
    height: 80px;
  }
  /*make the right nav menu sit lower in the navbar to line up with brand*/
  .navbar-nav {
    margin-top: 5px;
  }

  /* The left brand text/logo */
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 40px;
    line-height: 20px;
  }

  /* The left sub-text below the brand */
  .sub-title {
    font-size: 23px;
    color: white;
    line-height: 2;
  }

  .main-heading-navbar {
    height: 50px;
  }



  header .intro-text {
      padding-top: 170px;
      padding-bottom: 50px;
  }

  .company-name {
    margin-top: 4%;
    text-align: left;
    font-family: "Montserrat";
  }

  .main-text {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 72px;
    line-height: 96px;
    text-transform: uppercase;
    font-family: "Montserrat";
  }
  .whatwedo-row {
    padding-top: 15%;
    color: white;
  }




}



/* end of media queries for min-width:768px */

/*@media (min-width:768px) {
    header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 33px;
      line-height: 40px;
      margin-bottom: 130px;
  }
  header .intro-text .intro-heading {
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 0;
  }

  header .intro-text .intro-heading-small {
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 43px;
      line-height: 75px;
      margin-bottom: 50px;
  }
}*/
