/* Defence page */
.defence-fullscreen-bg {
  background: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url(../images/skydive.jpg);
  height: 80vh;
  background-repeat: none;
  background-attachment: fixed;
  /*background-position: center center;*/
  background-position: 0px -80px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
