<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="">

    <title>Risk Management | Desert Road</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Desert Road Project Management mitigates the risk to organisations, their people, and their operations">

    <meta name="keywords" content="Desert, road, project, management, health, safety, security"

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custon CSS for this page -->
    <link href="../css/risk.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- My Fonts -->

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="../favicon.ico"/>

</head>

<body id="risk" class="solution-page">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="../index.html#page-top">Desert Road<br><span class="sub-title">Project Management</span></a>
          </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-heading-navbar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="hidden">
                        <a href="#page-top"></a>
                    </li> -->

                    <!-- TODO uncomment the below for dropdown About Us menu -->
<!--
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Our Story</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Directors</a></li>
                      </ul>
                    </li> -->

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Security Risk Management</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="defence.html">Defence Force Solutions</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="training.html">Training</a></li>
                      </ul>
                    </li>
                    <li>
                      <a class="page-scroll" href="file:///Users/josh/Documents/work/josh-drpm-contributions/index.html#contactus">Contact Us</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->

    <header>
      <div class="risk-fullscreen-bg">

            <div class="container intro-text">
              <div class="row company-name">
                <!-- <div class="col-md-4 col-md-offset-4"> -->
                <div class="col-md-12 col-centered">

                  <p class="main-text">
                    Security Risk Management
                  </p>
                  <p class="sub-text">
                    Assuring Peace of Mind
                  </p>
                </div>
              </div>
            </div>

      </div>
    </header>

    <!-- What We Do Section -->
    <section id="whatwedo" class="risk-section-whatwedo">
        <div class="container">
          <div class="row text-center">
              <div class="col-md-12">
                  <h2 class="section-heading muted-color risk-section-heading">How we can help</h2>
                  <!-- <h3 class="section-subheading text-muted defence-section-subheading">Knowledgeable, specific, help</h3> -->
              </div>
          </div> <!-- end of row -->
          <div class="row text-center">
              <div class="col-md-4">
                  <!-- <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                  </span> -->
                  <img class="bowtie-image" src="../svg/bowtie.svg">
                  <h4 class="service-heading muted-color">Staff Safety</h4>
                  <p class="text-muted">Workplace violence prevention.</p>
              </div>
              <div class="col-md-4">
                  <img class="bowtie-image" src="../svg/bowtie.svg">
                  <h4 class="service-heading muted-color">Security Risk Management</h4>
                  <p class="text-muted">Security reviews, audits, appraisals</p>
              </div>
              <div class="col-md-4">
                  <img class="bowtie-image" src="../svg/bowtie.svg">
                  <h4 class="service-heading muted-color">Heath and Safety</h4>
                  <p class="text-muted">Changes to the HSWA 2015 and PSR have meant that a more detailed approach is required to address safety and security concerns.</p>
              </div>


          </div> <!-- end of row -->
        </div><!-- end of container -->
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-2">
            <img src="images/DRPM.png" class="logo" alt="">
          </div> -->

          <div class="col-md-4">
              <span class="copyright">Desert Road Project Management copyright 2016</span>
          </div>
          <!-- <div class="col-md-4">
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
          </div> -->
          <div class="col-md-4 col-md-offset-4">
            <ul class="list-inline quicklinks">
              <li><a href="#">Privacy Policy</a>
              </li>
              <li><a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../js/classie.js"></script>

    <!-- disbled the animated header for the meantime -->
    <script src="../js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>

    <!--  Open Dropdown on hover -->
    <script src="../js/jquery.bootstrap-dropdown-hover.js"></script>


</body>

</html>
