.landing-page {
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/nzFleet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: hue-rotate(238deg);
  filter: blur(100px);*/
}
